<!DOCTYPE HTML>

<html>
	<head>
		<title>About Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body >
    	<header id="header" class="alt">
            <a href="#menu" class="toggle"><span>Menu</span></a>
        </header>

    <!-- Nav -->
        <nav id="menu">
            <ul class="links">
                <li><a href="WelcomeToCll">Home</a></li>
                <li><a href="Who_We_are?">About</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
        </nav>
		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
				<center>	<div class="box">
						<div class="image fit">
							<img src="CLL.jpg" alt="" />
						</div>
						<div class="content">
							<header class="align-center">
								<h2>CLL : Club des Logiciels Libres
                                </h2>
								<p>The CLLFST: Free Software Club within the Faculty of Sciences of Tunis.</p>
							</header>
							<hr />
							<p> The CLL was founded in May 2004 by a group of teachers and students, with the aim of making students aware of the various disciplines and the use of free software. In a technical and socio-cultural setting, the Free Software Club members organize, throughout the year, events that bring together Tunisian students from different specialties. On the other hand, the CLLFST organizes events every year in order to spread the philosophy of free in the student environment include: JLL Free Software Day, JSL High School Day, Code Sprint, Install Party (install Linux) Our members whose number exceeds 1500 on our Facebook group, are from different disciplines, future engineers, engineers, chemists, professors, students ... In short, our diversity is our strength!</p>
						</div>
					</div>
				</center></div>
			</section>

		

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>